<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arley.mapper.UserMapper">


    <resultMap id="user" type="com.arley.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="user_name"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="email" column="email"/>
    </resultMap>
    <parameterMap id="user" type="com.arley.entity.User"/>

    <select id="selectUserList" resultMap="user">
        select id,user_name,password,name,age,email from user
    </select>
</mapper>
